html {
  background-color: #f7f7f7;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

* {
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0px 0px 0px 0px;
  background-color: #f7f7f7;
  text-align: center;
}

hr {
  width: 25%;
  margin-bottom: 0.5rem;
}

li {
  font-size: 0.8rem;
  color: #919191;
}


.para2 {
  color: #919191;
  font-size: 0.8rem;
  padding-top: 0.3rem;
  margin-bottom: 0rem;
  transition: opacity 0.5s, transform 0.4s;
  opacity: 0;
  line-height: 1.1;
}

.para2.fade-down {
  transform: translateY(10px);
  opacity: 1;
}

.dp {
  width: 17rem;
  margin: 1.2rem;
  margin-bottom: 0.9rem;
}

.cross {
  width: 17rem;
  margin: 1.2rem;
}

.navbar-nav {
  margin: 0 auto;
}

.nav-item {
  margin: 1rem 1rem 0 1rem;
}

.container-fluid {
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  margin-left: calc(50% - 50vw);
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pad {
  padding: 0rem 12rem;
}

.para {
  font-size: 1rem;
  color: #919191;
  line-height: 2;
  margin-top: 1.2rem;
}

.link {
  background: -webkit-linear-gradient(#e90054, #000355);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  transition: opacity 0.2s;
}

.strikey a, .strike {
  text-decoration: none;
  display: inline;
  background: linear-gradient(90deg, #000355, #e90054);
  background-position: 0 1em;
  background-repeat: no-repeat;
  background-size: 0% 6px;

  transition: background-size 0.2s ease-in-out 0.2s;
}

.strikey a:hover,
.strikey a:focus {
  background-size: 100% 6px;
  transition-delay: 0s;
}

.strike {
  background-size: 0% 2px;
  background-position: 0 0.5em; /*1em;*/
}

.strike:hover,
.strike:focus {
  background-size: 100% 2px;
  transition-delay: 0s;
}


.sub-title {
  color: #919191;
  font-size: 1rem;
  margin: 0rem;
}

.icon {
  width: 4rem;
  margin-bottom: 0.3rem;
}

.shadowed {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}

.intro {
  background-color: #f7f7f7;
  color: #1e1e1e clear:both;
  text-align: center;
}

.maint{
  margin-top: 15rem;
  vertical-align: middle;
}

.passions {
  background-color: #f7f7f7;
  clear: both;
}

.exp {
  background-color: #f7f7f7;
  clear: both;
}

.skills {
  background-color: #f7f7f7;
  clear: both;
}


.projects {
  background-color: #f7f7f7;
  clear: both;
  text-align: center;
}

.gitlink{
  margin-bottom: 1rem;
}

.proj-box{
  width: 12.5rem;
  transition: transform 0.3s, opacity 0.3s, filter 0.1s;
  margin-top: 1.5rem;
}


.proj-box-0.fade-down, .proj-box-1.fade-down, .proj-box-2.fade-down, .proj-box-3.fade-down{
  transition: transform 0.3s opacity 0.3s;
  opacity: 0.5;
  filter: blur(3px);
}

.proj-box:hover {
  transform: scale(1.08);
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.2));
}

.proj-table{
  transition: transform 0.4s;
  transform: scale(0.8);
  margin: 0 auto;
}

.proj-table td{
  width: 16rem;
}
.proj-header{
  transition: transform 0.4s;
  transform: translateY(60px);
}


.contact {
  background-color: #f7f7f7;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0;
  background: -webkit-linear-gradient(#000355, #e90054);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle {
  border-radius: 100%;
}

.hi {
  color: #919191;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.large-shadow {
  height: 0.75rem;
  width: 20rem;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
  filter: blur(2.5px);
  opacity: 0.5;
}

.btn {
  margin: 1rem;
  background-color: #919191;
  color: #f7f7f7;
}

.selection {
  opacity: 0;
  margin-top: 2rem;
  background: -webkit-linear-gradient(#e90054, #000355);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.legend {
  width: 4rem;
  margin: 1rem;
  margin-top: 0rem;
  margin-bottom: 0;
  transition: transform 0.5s;
}

.legend-s {
  width: 6rem;
  transition: transform 0.8s;
  text-align: center;
}

.legend-s img {
  width: 4rem;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
  margin-bottom: 0;
  padding-bottom: 0;
}

.legend-s:hover {
  transform: translateX(40px);
}

.legend-s:hover:after {
  transform: translateX(-40px);
}

.legend-s-text {
  margin: 0 auto;
  text-align: center;
  color: #919191;
  opacity: 0;
  margin-top: 0;
  padding-top: 0;
  font-size: 0.75rem;
  transition: opacity 0.5s transform 0.8s;
}

.legend-s:hover .legend-s-text {
  opacity: 1;
}

.legend-s:hover:after .legend-s-text {
  opacity: 0;
}

.mask2:hover .line2 {
  width: 3.3rem;
  border-radius: 999px;
}

.mask2:hover .line3 {
  width: 2.8rem;
  border-radius: 999px;
}

#line2.line2clicked {
  width: 3.3rem;
}

#line3.line3clicked {
  width: 2.8rem;
}

.mask2 {
  top: 60px;
  left: 52.5px;
  z-index: 21;
  color: white;
  text-align: center;
  line-height: 120px;
  cursor: pointer;
  position: fixed;
  transition: all 0.5s;
  margin: 0 auto;
}

.line1 {
  width: 4rem;
  background: linear-gradient(90deg, #000355, #e90054);
  border-radius: 999px;
}

.line2 {
  width: 4rem;
  background: linear-gradient(90deg, #e90054, #000355);
  transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) .01s;
  border-radius: 999px;
}

.line3 {
  width: 4rem;
  background: linear-gradient(90deg, #e90054, #000355);
  transition: all 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550) .01s;
  border-radius: 999px;
}

.menu-line {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  height: 0.7rem;
  border-radius: 999px;
  margin: 0 auto;
  margin-bottom: 0.4rem;
  text-align: center;
}

.menu {
  text-align: center;
  margin: 0 auto;
  border-radius: 999px;
}

.legend:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.legend:hover:after {
  transform: scale(1);
  transition: transform 1s;
}

.fadein {
  opacity: 0;
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.faded {
  opacity: 1;
}

.line {
  background: linear-gradient(90deg, #e90054, #000355);
  background-size: 200% 200%;
  animation: AnimationName 4s ease infinite;
  width: 100vw;
  height: 1rem;
  transition: transform 0.5s;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.progress {
  border-radius: 25px;
  width: 25rem;
}

.progress-bar {
  background-image: linear-gradient(-90deg, #e90054, #000355);
  border-radius: 25px;
}

.s-language {
  text-align: left;
  float: left;
  font-size: 1.3rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#e90054, #000355);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
}

.s-language-x {
  font-size: 1.3rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#e90054, #000355);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
}

.s-level {
  font-size: 1rem;
  color: #919191;
}

.s-years {
  font-size: 1rem;
  color: #919191;

    text-align: left;
    float: left;
}

.skill_icons {
  width: 3rem;
  margin: 0.5rem;
  float: left;
}

.tool {
  width: 3.5rem;
  margin: 0.2rem 0.5rem;
}

.tool-long {
  width: 6.5rem;
  margin: 0 0.5rem;
}

.p-icon {
  width: 9rem;
}

.p-title {
  margin-top: 2.2rem;
  font-size: 2rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#e90054, #000355);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-title-b {
  margin-top: 2.2rem;
  font-size: 2rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#f7f7f7, #f7f7f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-para-b {
  padding: 1rem;
  padding-top: 0rem;
  font-size: 0.8rem;
  background: -webkit-linear-gradient(#f7f7f7, #f7f7f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.moveup {
  transform: translateY(-32px);
}

#passion-header {
  transition: transform 0.5s;
}

.pass-table>thead>tr>th, .pass-table>tbody>tr>th, .pass-table>tfoot>tr>th, .pass-table>thead>tr>td, .pass-table>tbody>tr>td, .pass-table>tfoot>tr>td {
  padding: 2rem;
}

/* original */
/* .pass-box {
  transition: transform 0.5s;
  border-radius: 15px;
  display: block;
  padding: 1rem;
  background: -webkit-linear-gradient(#f7f7f7, #f7f7f7);
  transition: border-radius 0.6s, opacity 0.5s, transform 0.5s, padding 0.5s, background-image 0.5s;
} */
/*
.pass-box:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-25px) scale(1.05);
} */
/*
.pass-box:hover:after {
  box-shadow: none;
  transform: translateY(25px) scale(1);
} */
/*
.pass-box.pass-trans {
  border-radius: 0px;
  padding-bottom: 5rem;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(#e90054, #000355);
} */
/*
.gone {
  transition: opacity 0.5s;
  opacity: 0;
} */
.floating {
  width: 5.3rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  filter: blur(2.2px);
  opacity: 0.5;
  transition: opacity 0.5s, transform 0.5s, 0.5s -webkit-filter linear;
  transition-timing-function: ease-in-out;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.main-legend-item {
  transition: transform 0.3s;
  display: inline-block;
  transition-timing-function: ease-in-out;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.main-legend-item:hover {
  transform: translateY(-20px) scale(1.1);
}

.main-legend-item:hover:after {
  transform: translate(20px) scale(1);
}

.floating.shad-change {
  transform: scale(0.8);
  opacity: 0.8;
  filter: blur(1.8px);
}

.main-legend {
  display: inline-block;
  text-align: center;
}

.x {
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 30px;
  z-index: 19;
  left: 36px;
  transition: all 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550) .01s;
}

.parent2 {
  transition: all 0.5s;
  margin: 0 auto;
  text-align: center;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.tbody {
  text-align: center;
}

.w-icon-lg {
  width: 7rem;
  float: left;
}

.w-f-icon-lg {
  width: 6rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.w-sub-title {
  font-size: 1.0rem;
  color: #919191;
  text-align: left;
  justify-content: left;
}

.w-title {
  font-size: 1.5rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#e90054, #000355);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin-bottom: 0rem;
}

.w-title-s {
  background: -webkit-linear-gradient(#e90054, #000355);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
  color: #919191;
  text-align: left;
}

.w-descrip {
  opacity: 1;
  font-size: 0.8rem;
  color: #919191;
  line-height: 1.8;
  text-align: left;
  transition: transform 0.5s, opacity 0.5s
}



.date-cell{
  width: 9rem;
}
.w-date {
  font-size: 1rem;
  color: #919191;
  text-align: right;
}

.w-f-title {
  font-size: 1rem;
  color: #919191;
  margin-bottom: 0;
}

.btn-secondary {
  background: linear-gradient(180deg, #e90054, #000355);
}

.form-mail {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-mail .form-input {
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 1px;
}

.bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table {
  transition: transform 0.5s;
  margin-bottom: 0rem;
}

.table-borderless {
  margin-bottom: 0;
}

.skill-header {
  transition: transform 0.5s;
}

.skill-footer {
  transition: transform 0.5s;
}

.contact-item {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-radius: 15px;
  transition: transform 0.6s;
  color: rgba(0, 0, 0, 0);
}

.fas:before, .fab:before {
  font-size: 2.3rem;
  background: -webkit-linear-gradient(#e90054, #000355);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
  /* reset Font Awesome's display:inline-block */
}

.skill-line {
  margin-bottom: 1rem;
}

.c-img{
  margin-left: 1.1rem;
}
.set-c{
  margin-top: 0.8rem;
}

​ @media (max-width: 415px) {
  .w-sub-title {
    text-align: center;
    margin-bottom: 0rem;
  }

  .title {
    font-size: 7rem;
  }

  .hi {
    font-size: 2rem;
  }



  .para {
    font-size: 1.5rem;
  }
}

@media (max-width: 1250px) {
  .proj-header {
    transform: translateY(75px);
  }
  .proj-table {
    transform: scale(0.75);
  }
  .w-sub-title {
    text-align: center;
  }

  .title {
    font-size: 4.5rem;
  }

  .para {
    margin-bottom: 1rem;
  }

  .hi {
    font-size: 1.5rem;
  }

  .skill-footer {
    transform: translateY(-80px);
  }


  .row-skills {
    transition: transform 0.5s;
    transform: scale(0.8);
  }

  .skill-header {
    transform: translateY(15px);
  }

  .exp-footer {
    transform: translateY(-20px);
    transform: scale(0.8);
  }

  .exp-table {
    transform: scale(0.8);
    margin-bottom: 0;
  }

  .exp-header {
    transform: translateY(40px);
  }


    .freelance-table, .w-sub-title{
      display: none;
    }



}

@media (max-width: 999px) {
  .proj-header {
    transform: translateY(135px);
  }
  .proj-table {
    transform: scale(0.5);
  }

  .trunc{
    white-space: nowrap;
    width: 25rem;
    overflow: hidden;
    text-overflow: ellipsis
  }
  .row-skills {
    text-align: center;
  }

  .skills {
    text-align: center;
  }

  .freelance-table {
    transition: transform 0.4s;
    transform: scale(0.6);
    transform: translateY(-25px);
  }



  .exp-tag {
    margin: 0.3rem auto;
    padding: 0.3rem;
  }


    .skill-footer{
      margin-top: 3rem;
    }

    .skill-header{
      margin-bottom: 3rem;
    }
  #pls-scroll {
    height: 40vh;
    overflow: auto;
    text-align: center;
    border-radius: 20px;
    margin: 4rem auto;
    margin-bottom: 4rem;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    transition: transform 0.6s;
  }

  .c-break{
    margin: 0;
    padding: 0;
  }

  .c-img{margin-left: 0;}
  .set-c{
    margin-top: 0rem;
  }
  .c-txt{
    padding-left: 1rem;
  }

  .skill_icons{
    float: none;
    margin: 0 auto;
  }

  .s-language{
    float: none;
    margin: 0 auto;
  }

  #pls-scroll:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
    transform: scale(1.08);
  }

  .skill-line {
    margin-bottom: 0rem;
  }


  .row-skills {
    transform: scale(1);
    text-align: center;
    margin: 0 auto;
  }



  .scroll-table td {
    display: block;
    text-align: center;
  }

  .s-years {
    opacity: 0;
    display: none;
    text-align: left;
    float: left;
  }

  .s-language {
    text-align: left;
    float: left;
  }

  .exp-table tr td:first-child {
    display: block;
  }

  .set {
    margin: 0 auto;
  }

  .pad {
    padding: 0rem 4rem;
  }

  .legend {
    width: 4rem;
  }

  #passion-header {
    margin-bottom: -2rem;
    transition: transform 0.5s;
  }

  .pass-table {
    transition: transform 0.5s;
    transform: scale(0.8);
  }

  .sub-title {
    margin-bottom: 0rem;
  }

  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

.flip-card {
  margin: 0 auto;
  background-color: transparent;
  width: 16rem;
  height: 19rem;
  border-radius: 15px;
  perspective: 1000px;
  transition: transform 0.5s;
}

.flip-card-inner {
  margin-top: 1rem;
  position: relative;
  width: 16rem;
  height: 19rem;
  text-align: center;
  vertical-align: middle;
  transition: transform 0.8s;
  border-radius: 15px;
  transform-style: preserve-3d;
}

#inner-1.flip, #inner-2.flip, #inner-3.flip {
  transform: rotateY(180deg);
}

.flip-card:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-25px) scale(1.05);
  cursor: pointer;
}

.flip-card:hover:after {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.0);
  transform: translateY(25px) scale(1);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
  border-radius: 15px;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #f7f7f7;
}

/* Style the back side */
.flip-card-back {
  background-image: linear-gradient(-45deg, #e90054, #000355);
  transform: rotateY(180deg);
}
/*
.meter {
  opacity: 0;
  height: 1rem;
  width: 17rem;
  position: relative;
  background: #efefef;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

.meter>span {
  display: block;
  height: 100%;
  -webkit-border-top-right-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  -moz-border-radius-topright: 40px;
  -moz-border-radius-bottomright: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  -webkit-border-top-left-radius: 40px;
  -webkit-border-bottom-left-radius: 40px;
  -moz-border-radius-topleft: 40px;
  -moz-border-radius-bottomleft: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background-image: linear-gradient(-90deg, #e90054, #000355);
  position: relative;
  overflow: hidden;
} */
