.main {
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow-x: hidden;
}

#root {
    background-color: #1e1e1e;
    padding: 0 20px;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    margin: 0;
    background-color: #1e1e1e !important;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* letter-spacing: 0.2em; */
    transition: all 0.2s ease;
    transition-property: all !important;
}

*:focus {
    outline: none !important;
}

i {
    letter-spacing: 0;
}

::-webkit-scrollbar {
    height: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.git {
    width: 1.3rem;
    margin: 0.2rem 0.2rem 0 0.2rem;
    opacity: 0.7;
}

.git:hover {
    opacity: 1;
}

.emoji {
    width: calc(10px + 1vmax);
    margin: 0 6px;
}

.small {
    display: flex;
    align-items: center;
    margin-top: 15px;
    /* width: 100%; */
    text-align: left;
    color: gray;
    font-size: calc(15% + 0.75vmax);
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.75;
    border: 1px solid gray;
    padding: 4.5px 8px;
    width: max-content;
}

.small:hover {
    opacity: 1;
}

* {
    transition: all 0.25s ease;
    scrollbar-width: none;
}

.link {
    color: white;
    background-color: #333333;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: calc(35% + 0.5vmax);
    text-align: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid transparent;
    width: calc(350px + 0.5vmax);
    line-height: 1.5;
}

.link:hover {
    border-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    flex-direction: row;
}

.home-link {
    /* margin: 24px 24px 24px 0; */
    font-size: calc(1px + 0.8vmax);
    width: calc(70px + 1vmax);
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    /* margin: 52px 15px; */
    /* min-height: 100vh; */
}

.section-body {
    display: flex;
    /* margin: 0 auto; */
    /* flex-wrap: wrap; */
    /* width: 70vw; */
    justify-content: flex-start;
    /* position: relative; */
    overflow-x: scroll;
    /* box-shadow: 5px 10px 5px pink inset; */
}

.show-left-arrow {
    width: 10px;
    margin-left: 10px;
    opacity: 1;
}

.hide-left-arrow {
    width: 0px;
    margin-left: 0px;
    opacity: 0;
}

.show-right-arrow {
    transform: rotate(180deg);
    width: 10px;
    margin-right: 10px;
    opacity: 1;
}

.hide-right-arrow {
    transform: rotate(180deg);
    width: 0px;
    margin-right: 0px;
    opacity: 0;
}