.main {
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow-x: hidden;
}

#root {
    background-color: #1e1e1e;
    padding: 20px;
}

body {
    margin: 0;
    background-color: #1e1e1e !important;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* letter-spacing: 0.2em; */
    transition: all 0.2s ease;
    transition-property: all !important;
}

*:focus {
    outline: none !important;
}

i {
    letter-spacing: 0;
}

.logo_part_cont {
    position: relative;
    width: 15rem;
    height: 12rem;
    margin: 0 auto;
}

.logo_part {
    opacity: 0;
    width: 14rem;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    transition: all 0.25s ease;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}

.scrollable {
    height: 8rem;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.slider-text {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
}

.slider-main {
    font-size: 1.2rem;
    color: rgb(61, 61, 61);
}

.slider-sub {
    font-size: 0.9rem;
    opacity: 0.8;
    margin: 0.4rem 0;
    color: #7e7e7e;
}

.slider-loc {
    font-size: 0.8rem;
    opacity: 0.9;
    margin: 0;
    color: #4b4b4b;
}

.slider-tools-cont {
    height: 2rem;
    margin-bottom: 0.4rem;
}

.dim {
    opacity: 0.5;
    transform: translateY(1.25rem);
}

.slick-next:before,
.slick-prev:before {
    color: rgb(39, 39, 39);
    font-size: 30px;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-next,
.slick-prev {
    cursor: pointer;
    width: 40px;
    height: 40px;
}


/* 
.slick-prev.slick-disabled:before {
  opacity: 0;
  color: rgb(109, 109, 109);
}
.slick-prev:before {
  opacity: 1;
  color: rgb(109, 109, 109);
}
.slick-prev {
  left: 50px;
  position: absolute;
  color: rgb(109, 109, 109);
}
.slick-next.slick-disabled:before {
  opacity: 0;
  color: rgb(109, 109, 109);
}
.slick-next:before {
  opacity: 1;
  color: rgb(109, 109, 109);
}
.slick-next {
  right: 50px;
  opacity: 1;
  color: rgb(109, 109, 109);
} */

.slick-list {
    overflow: visible !important;
}

.slider-tool {
    display: inline-block;
    margin: 0 0.25rem;
    height: 0.7rem;
}

.git {
    width: 1.3rem;
    margin: 0.2rem 0.2rem 0 0.2rem;
    opacity: 0.7;
}

.git:hover {
    opacity: 1;
}

.full {
    width: 100vw;
}

.open-slider {
    opacity: 1;
}

.close-slider {
    opacity: 0;
}

.end-x {
    height: 2rem;
    opacity: 0.4;
    margin: auto auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.end-x:hover {
    cursor: pointer;
    opacity: 0.6;
}

.end-cont {
    height: 5rem;
    text-align: center;
    position: relative;
}

.emoji {
    width: 50px;
    margin: 0 10px;
}

.small {
    width: 20px;
}

.nomargin {
    margin: 0 !important;
}

.down-arrow {
    padding: 15px 0;
    width: 45px;
    transform: rotate(270deg);
    align-self: center;
}

.down-arrow:hover {
    transform: translateY(3px) rotate(270deg);
    cursor: pointer;
}

.up-arrow {
    padding: 15px 0;
    width: 45px;
    transform: rotate(90deg);
    align-self: center;
}

.up-arrow:hover {
    transform: translateY(-3px);
    cursor: pointer;
}