.main{
    width: 100%;
    height: 100%;
    background-size: cover;
}

body{
    margin: 0;
    background-image: linear-gradient(0deg, #dcdcdc, rgb(222, 222, 222));
}

@font-face {
    font-family: Bariol;
    src: url("../fonts/Bariol.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Bariol.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../fonts/Bariol.woff") format("woff"), /* Modern Browsers */
         url("../fonts/Bariol.ttf")  format("truetype"), /* Safari, Android, iOS */
         url("../fonts/Bariol.svg#svgFontName") format("svg"); /* Legacy iOS */
}

* {
    font-family: Bariol;
    letter-spacing: 0.2em;
    transition: all 0.25s ease;
    transition-property: all !important;
}

i {
    letter-spacing: 0;
}


.logo_part{
    opacity: 0;
    width: 14rem;
    position: absolute;
    right: 0; left: 0;
    margin: 0 auto;
}