.card {
    color: white;
    background-color: #333333;
    border-radius: 5px;
    border: 2px solid transparent;
    width: calc(50px + 0.5vmax);
    margin: calc(10px - 0.15vmax);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.5px 4px;
}

.card:hover {
    border-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

@media (max-width: 319px) {
    .details {
        display: none;
    }
}