.card {
    border-radius: 8px;
    background-color: #1e1e1e;
    /* border: 2px solid white; */
    color: whitesmoke;
    margin-right: 25px;
    /* padding: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-left: 0;
    border-right: 0;
    border-top: 0; */
}

.card:hover {
    /* box-shadow: 0px 5px 25px black; */
    /* background-color: #181818; */
    cursor: pointer;
    opacity: 0.7;
    /* transform: translateY(-5px); */
}

@media (max-width: 319px) {
    .details {
        display: none;
    }
}