.exp_card{
    border-radius: 15px;
    margin: 0 2rem 3rem 2rem;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.300);
    height: 14rem;
    color: white;
    position: relative;
}

.exp_logo img{
    width: 6rem;
    position: absolute;
    top: -25px;
    right: 20px;
    -webkit-filter: drop-shadow( 0 20px 20px rgba(0, 0, 0, 0.753));
    filter: drop-shadow( 0 20px 20px rgba(0, 0, 0, 0.753));    
}
.mlse img{
    height: 10rem;
    width: 10rem; 
    top: -50px;
    right: 15px;
}
.exp_title{
    position: absolute;
    top: 70px;
    left: 20px;
    font-size: 2rem;
}
.exp_date{
    opacity: 0.6;
    position: absolute;
    top: 20px;
    left: 20px;
}
.exp_company{
    position: absolute;
    top: 45px;
    left: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}
.exp_desc{
    position: absolute;
    top: 110px;
    left: 20px;
    opacity: 0.7;
}
.exp_view{
    position: absolute;
    width: 5rem;
    height: 2rem;
    border-radius: 50px;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: black;
    text-align: center;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.300);
}


.mlse{
    background-image: linear-gradient(-45deg, rgba(231, 69, 69, 0.654),rgba(105, 1, 1, 0.654));
}

.bliss{
    background-image: linear-gradient(-45deg, rgba(69, 231, 91, 0.654),rgba(0, 124, 128, 0.654));
}

.actioncind{
    background-image: linear-gradient(-45deg, rgba(26, 52, 167, 0.654),rgba(70, 0, 128, 0.654));
}

.festivecurrents{
    background-image: linear-gradient(-45deg, rgba(226, 48, 226, 0.654),rgba(48, 172, 221, 0.654),rgba(227, 243, 84, 0.654));
}