.footer_container  {
    text-align: center;
    color: rgba(18, 18, 18, 0.8);
    margin: 0 auto;
}

.footer_container h5 {
   opacity: 0.6;
   margin: 0;
}

.footer_container h4 {
    opacity: 0.6;
 }
 

.footer_container i{
    color: rgba(33, 33, 33, 0.633);
    transition: all 0.25s ease;
    text-decoration: none !important;
}

@keyframes clicked {
    0%   { opacity: 1}
    50% { opacity: 0.65;}
    100% {opacity: 1}
}

.footer_container i:active{
    animation: clicked 0.4s ease;
}

.footer_container i:hover{
    transform: translateY(-5px);
    color: rgba(9, 9, 9, 0.849);
    cursor: pointer;
}


.modal_header {
    opacity: 0.7;
}

.connect-details {
    margin-top: 1.5rem
}
.connect-details p {
    margin: 0.05rem;
    font-size: 0.8rem;
}