.home_img img{
    height: 15rem;
}
.home_container{
    text-align: center;
    padding: 3rem;
}
.muted_p{
    color: rgba(34, 34, 34, 0.555);
    font-size: 0.95rem;
    margin: 1.5rem 1rem;
    margin-top: 10rem;
    line-height: 2;
    transition: all 0.25s ease;
    padding: 0 2rem;
}

.home_button{
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid;
    padding: 0.5rem 1rem;
    margin: 1rem;
    font-size: 0.9rem;
    transition: all 0.25s ease;
    color: rgba(33, 33, 33, 0.74);
}
.home_button:hover{
    transform: translateY(-5px);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.65);
    color: rgba(255, 255, 255, 0.95);
}

@media (max-width: 768px) {
    .muted_p{
        padding: 0 0rem;
    }
}