.home_img img{
    height: 15rem;
    -webkit-filter: drop-shadow( 0 20px 20px rgba(0, 0, 0, 0.888));
    filter: drop-shadow( 0 20px 20px rgba(0, 0, 0, 0.888));  
}
.home_container{
    text-align: center;
    padding: 3rem;
}
.muted_p{
    color: rgba(255, 255, 255, 0.555);
    font-size: 0.95rem;
    margin: 1.5rem 1rem;
    line-height: 2;
    padding: 0 2rem;
}
.name_header{
    color: white;
}

.home_button{
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.900);
    border-radius: 25px;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem;
    font-size:1.1rem;
    background-color: rgba(0, 0, 0, 0.384);
    transition: all 0.25s ease;
    color: rgba(255, 255, 255, 0.74);
}
.home_button:hover{
    box-shadow: 0 20px 20px rgb(0, 0, 0);
    transform: translateY(-5px);
    padding: 1rem 2.5rem;
    cursor: pointer;
    opacity: 0.9;
    color: rgba(255, 255, 255, 0.9);

}