* {
  font-family: 'Karla', sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 1.25rem;
}

.break {
  margin: 0 auto;
  width: 40%;
  height: 0.3%;
  background-color: #2d2d2d;
  margin-top: 2.8rem;
  transition: all 0.5s ease;
  animation: animate_line 2s forwards linear;
}

@keyframes animate_line {
 50% {
    width:0%;
  }
  to {
    width:20%;
  }
}

.container p {
  color: #2d2d2d;
  transition: all 0.5s ease;
}

#resume {
  color: #2d2d2d;
  transition: all 0.5s ease;
}
#github {
  color: #2d2d2d;
  transition: all 0.5s ease;
}
#email {
  color: #2d2d2d;
  transition: all 0.5s ease;
}

.container a {
  text-decoration: none;
  color: #2d2d2d;
  margin: 1.5rem;
  transition: all 0.5s ease;
  margin-top: 0;
}
.container a:hover {
  text-decoration: none;
  color: grey;
  margin: 1.5rem;
  transition: all 0.8s ease;
  margin-top: 0;
}
.anchor-div {
  display: inline-block;
  text-align: center;
  transition: all 0.5s ease;
}
.anchor-div:hover{
  color: grey;
}
