.nav_container{
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    margin: 0 auto;
    /* background-image: linear-gradient(0deg, #0c0c0c, #0c0c0ccc, rgba(0, 0, 0, 0)); */
    border-radius: 15px;
    height: 4.5rem;
    transition: all 0.25s ease;
    padding: 0 2rem;
}
.nav_container:hover{
   cursor: pointer;
}
.nav_button{
    /* background-color: rgba(0, 0, 0, 0.584); */
    /* box-shadow: 0 15px 20px rgba(0, 0, 0, 755); */
    height: 3rem;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 0.3rem;
    text-align: center;
    transition: all 0.25s ease;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
}

.nav_button:hover, .nav_button i:hover{
    color: rgba(255, 255, 255, 0.8);
    text-shadow:0 0 7px rgba(255, 255, 255, 0.6);
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* box-shadow: 0 20px 20px rgba(0, 0, 0, 0.9); */
}
.nav_button i{
    margin-top: 1rem;
    transition: all 0.25s ease;
}

.nav_text {
    display: inline-block;
    font-weight: 700;
    transition: all 0.25s ease;
    margin-left: 0.7rem;
    font-size: 0.9em;
}
.nav_arrow{
    width: 2rem;
    height: 2rem;
    -webkit-filter: drop-shadow( 0 20px 20px rgba(0, 0, 0, 0.753));
    filter: drop-shadow( 0 20px 20px rgba(0, 0, 0, 0.753));    
    margin: 0 auto;
    transition: all 0.25s ease;
    opacity: 0.8;
}
.nav_arrow:hover{
    cursor: pointer;
    -webkit-filter: drop-shadow( 0 20px 20px rgba(0, 0, 0, 0.9));
    filter: drop-shadow( 0 20px 20px rgba(0, 0, 0, 0.9));    
    opacity: 1;
    transform: translateY(-5px)
 }
.nav_arrow_cont{
    position: sticky;
    position: -webkit-sticky;
    bottom: 10px;
    text-align: center;
    transition: all 0.25s ease;
}
.hide_arrow{
    transition: all 0.25s ease;
    opacity: 0;
    transform: translateY(-100px);
}

.hide_nav{
    transition: all 0.25s ease;
    opacity: 0;
    transform: translateY(50px);
}
