
.project_card{
    margin: 0 0.5rem 2rem 0.5rem;
    margin-left: 0.5rem;
    color: white;
    transition: all 2s ease;
    cursor: pointer;
    transition-property: all;
    border-radius: 20px;
}
.project_card:hover{
    transform: translateX(-2rem) !important;
}
.project_logo img{
    height: 6rem;
    position: absolute;
    top: -30px;
    left: 15px;
    filter: drop-shadow(0 15px 15px rgb(11, 11, 11, 0.4));
}
.project_logo_expanded img{
    height: 6rem;
    position: absolute;
    top: 10px;
    left: 15px;
    filter: drop-shadow(0 15px 15px rgb(11, 11, 11, 0.4));
}
.project_title{
    padding-top: 1rem;
    margin-left: 8rem;
    font-size: 2rem;
    opacity: 0.8;
}
.project_date{
    display: none;
    padding-top: 1rem;
    opacity: 0.6;
    margin-left: 8.2rem;
    margin-bottom: 0.4rem;
    width: 10rem;
}
.project_desc{
    margin-left: 8rem;
    line-height: 1.5;
    opacity: 0.8;
    margin-right: 2rem;
    font-weight: bold;
}
.project_read_more{
    margin-left: 8rem;
    opacity: 0.6;
}
.project_details {
    opacity: 0.6;
    line-height: 1.5;
    margin-top:0.5rem;
    margin-left: 8rem;
    font-size: 0.9rem;
    margin-right: 2.5rem;
}
.hide_details {
    display: none;
}

.project_git{
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: 15px;
    right: 1.5rem;
    color: rgba(233, 233, 233, 0.75);
    text-align: center;
    opacity: 0.75;
    transition: all 0.25s ease;
}

.project_git:hover{
    opacity: 0.9;
    cursor: pointer;
}
.project_git a{
    color: inherit !important;
}
.density{
    background-image:linear-gradient(45deg,  #5496d7,#5496d7);
}


.framear{
    background-image: linear-gradient(45deg,  #d66b6b,#d66b6b);;
}


.pseudo{
    background-image:linear-gradient(35deg, #cc0a60,#cc0a61);
}

.realm{
    background-image:linear-gradient(45deg,  #001050,#001652);
}

.load_more {
    margin: 0 auto;
    background-color: rgb(187, 187, 187);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: rgb(63, 63, 63);
    
}

.load_more:hover{
    margin: 0 auto;
    background-color: rgb(154, 154, 154);
    padding: 0.5rem 1rem;
    cursor: pointer;
}

@media(max-width: 767px) {
    .project_logo img{
        height: 5rem;
        top: -30px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .project_logo_expanded img{
        top: -30px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .project_title{
        padding-top: 3rem;
        margin-left: 2rem;
        font-size: 2rem;
        opacity: 0.8;
    }
    .project_desc{
        margin-left: 2rem;
    }
    .project_details {
        margin-left: 2rem;
    }
}