.project_card{
    margin: 0 0.5rem 2rem 0.5rem;
    height: 9rem;
    color: rgb(29, 29, 29);
    position: relative;
    transition: all 0.25s ease;
}
.project_card::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    border-radius: 30px;
    
    /* Declaring our shadow color inherit from the parent (button) */
    background: inherit;
    
    /* Blurring the element for shadow effect */
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    
    /* Transition for the magic */
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

.project_logo img{
    height: 6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.project_title{
    position: absolute;
    top: 35px;
    left: 8rem;
    font-size: 2rem;
}
.project_date{
    opacity: 0.6;
    position: absolute;
    top: 10px;
    left: 8.2rem;
    width: 10rem;
}
.project_desc{
    position: absolute;
    top: 72px;
    left: 8rem;
    line-height: 1.5;
    opacity: 0.85;
    margin-right: 1rem;
}
.project_view{
    position: absolute;
    width: 5rem;
    height: 2rem;
    border-radius: 50px;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    transition: all 0.25s ease;
}
.project_view:hover{
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transform: translateY(-3px)
}

.project_git{
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: 20px;
    right: 1rem;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    opacity: 0.75;
    transition: all 0.25s ease;
}

.project_git:hover{
    opacity: 0.85;
    cursor: pointer;
}
.project_git a{
    color: inherit !important;
}
.density{
    border-left: double 4px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image:linear-gradient(#dfdfdf, #dfdfdf), linear-gradient(0deg,  #4563e7,#179cb3);
    
}


.framear{
    border-left: double 4px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image:linear-gradient(#dfdfdf, #dfdfdf), linear-gradient(0deg,  #d66b6b,#a33b3b);
}


.pseudo{
    border-left: double 4px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image:linear-gradient(#dfdfdf, #dfdfdf), linear-gradient(0deg, #159fd5,#cc0a61);
}

.realm{
    border-left: double 4px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image:linear-gradient(#dfdfdf, #dfdfdf), linear-gradient(0deg,  #001050,#001652);
}

.project_modal {
    border-radius: 15px;
    opacity: 0.75;
    padding: 3rem;
    height: 90vh;
}

.modal-content{
    margin: 10% 0 !important;
}
