
.project_card{
    color: rgb(232, 232, 232);
    cursor: pointer;
}

@keyframes clicked {
    0%   { opacity: 1}
    50% { opacity: 0.65;}
    100% {opacity: 1}
}

.project_card:hover{
    transform: translateY(-0.3rem) !important;
}
.project_logo{
    height: 4rem;
    margin: 0 auto;
}
.project_title{
    padding-top: 1rem;
    font-size: 2rem;
    opacity: 0.9;
}
.project_date{
    display: none;
    padding-top: 1rem;
    opacity: 0.7;
    margin-left: 8.2rem;
    margin-bottom: 0.4rem;
    width: 10rem;
}
.project_desc{
    margin-left: 8rem;
    line-height: 1.5;
    opacity: 0.8;
    margin-right: 2rem;
    font-weight: bold;
}
.project_read_more{
    margin-left: 8rem;
    opacity: 0.6;
}


.hide_details {
    display: none;
}

.project_trophy{
    position: absolute;
    top: -10px;
    right: -10px;
    transition: all 0.25s ease;
    color: rgb(82, 82, 82);
    background-color: rgb(250, 221, 105);
    padding: 0.5rem 0.6rem;
    font-size: 0.85rem;
    border-radius: 6px;
    text-align: center;
}

.project_git, .project_devpost, .project_hacker_earth{
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: 15px;
    right: 1.5rem;
    color: rgba(233, 233, 233);
    text-align: center;
    opacity: 0.6;
    transition: all 0.25s ease;
}

.project_git:hover,.project_devpost:hover, .project_hacker_earth:hover{
    opacity: 0.9;
    cursor: pointer;
}

.project_devpost{
    opacity: 0.6;
    right: 4rem;
}
.project_hacker_earth{
    opacity: 0.6;
    right: 4rem;
}
.project_git a{
    color: inherit !important;
}
.density{
    color:#5496d7
}

.framear{
    color: #d66b6b
}

.pseudo{
    color:#cc0a61
}

.gaze {
    color: #5f5cce;
}

.realm{
    color: #001652
}

.compass{
    color: #3fb3fb;
}

.fashionably{
    color: #e27f51
}

.echo {
    color: #94e086;
}

.traffix {
    color: #2A8861;
}

.pillar {
    color: #AD6D42;
}
.load_more {
    margin: 0 auto;
    background-color: rgb(187, 187, 187);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: rgb(63, 63, 63);
}

.load_more:hover{
    margin: 0 auto;
    background-color: rgb(154, 154, 154);
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.load_more:active{
    animation: clicked 0.4s ease;
}

@media(max-width: 767px) {
    .project_trophy{
        top: -8px;
        right: -8px;
        text-align: center;
        width: 5rem;
        transition: all 0.25s ease;
        padding: 0.3rem 0.4rem;
        font-size: 0.6rem;
    }
    .project_card:hover{
        transform: none !important;
    }
    .project_logo{
        height: 5rem;
        top: -30px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .project_logo_expanded{
        top: -40px;
        left: 0;
        right: 0;
        height: 5.7rem; 
        margin: auto;
    }
    .project_title{
        padding-top: 3rem;
        margin-left: 2rem;
        font-size: 2rem;
        opacity: 0.8;
    }
    .project_desc{
        margin-left: 2rem;
    }
    .project_details {
        margin-left: 2rem;
        height: 15rem;
        overflow: scroll;
    }
}

#projects {
}