.footer{
  text-align: center;
}
.footer-container {
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 5px #d3d3d3;
  padding: 1rem;
  margin: 0 25rem;
  bottom: 20px;
  position: absolute;
}

.circle {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  transition: transform 0.5s;
  margin: 1rem;
  display: inline-block;
}
.circle:hover, .circle:active {
  transform: translateY(-10px);
  cursor: pointer;
}
.red{
  background-image: linear-gradient(#ff777f,#ff0756);
  box-shadow: 0 0 0px #ff777f;
  transition: all 0.5s ease;
}
.red-active {
  background-image: linear-gradient(#ff777f,#ff0756);
  box-shadow: 0 0 15px #ff777f;
  transform: translateY(-14px) scale(1.05);
}
.red:hover {
  box-shadow: 0 0 10px #ff777f;
}

.yellow{
  background-image: linear-gradient(#ffea79,#ffbf4d);
  box-shadow: 0 0 0px #ffea79;
  transition: all 0.5s ease;
}
.yellow-active{
  background-image: linear-gradient(#ffea79,#ffbf4d);
  box-shadow: 0 0 15px #ffea79;
  transform: translateY(-14px) scale(1.05);
}
.yellow:hover {
  box-shadow: 0 0 10px #ffea79;
}
.blue{
  background-image: linear-gradient(#7be0ff,#00a5e9);
  box-shadow: 0 0 0px #7be0ff;
  transition: all 0.5s ease;
}
.blue-active{
  background-image: linear-gradient(#7be0ff,#00a5e9);
  box-shadow: 0 0 15px #7be0ff;
  transform: translateY(-14px) scale(1.05);
}
.blue:hover {
  box-shadow: 0 0 10px #7be0ff;
}
.green{
  background-image: linear-gradient(#aaffc2,#00e949);
  box-shadow: 0 0 0px #aaffc2;
  transition: all 0.5s ease;
}
.green-active{
  background-image: linear-gradient(#aaffc2,#00e949);
  box-shadow: 0 0 15px #aaffc2;
  transform: translateY(-14px) scale(1.05);
}
.green:hover {
  box-shadow: 0 0 10px #aaffc2;
}
.purple{
  background-image: linear-gradient(#c694ff,#6c00e9);
  box-shadow: 0 0 0px #c694ff;
  transition: all 0.5s ease;
}
.purple-active{
  background-image: linear-gradient(#c694ff,#6c00e9);
  box-shadow: 0 0 15px #c694ff;
  transform: translateY(-14px) scale(1.05);
}
.purple:hover {
  box-shadow: 0 0 10px #c694ff;
}
.brown{
  background-image: linear-gradient(#ffc194,#7f5500);
  box-shadow: 0 0 0px #ffc194;
  transition: all 0.5s ease;
}
.brown-active{
  background-image: linear-gradient(#ffc194,#7f5500);
  box-shadow: 0 0 15px #ffc194;
  transform: translateY(-14px) scale(1.05);
}
.brown:hover {
  box-shadow: 0 0 10px #ffc194;
}
