.lang_card{
    margin: 0 0rem 3rem 0rem;
    padding: 1rem 0;
    color: #181818e1;
    position: relative;
    text-align: center;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 20px;
}
.lang_logo{
    width: 3.5rem;
    position: absolute;
    margin: auto;
    top: -20px;
    left: 0; right: 0; 
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.4))
}

.lang_text{
    position: absolute;
    left: 0;
    margin: auto;
    right: 0;
    opacity: 0;
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    line-height: 1.5;
}

.lang_name{
    font-size: 0.9rem;
    opacity: 0.8;
}
.lang_name_clicked{
    opacity: 0;
}
.tool_card{
    border-radius: 15px;
    height: 2rem;
    width: 50%;
    margin: 1.5rem auto;
    position: relative;
    text-align: center;
    transition: all 0.25s ease;
    cursor: pointer;
    color: white;
}
  
.tool_logo{
    opacity: 1;
    width: 4rem;
    position: absolute;
    margin: auto;
    top: -30px;
    left: 0; 
    right: 0;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
}
.tool_text {
    color:#d7d7d700;
    position: absolute;
    margin: 0;
    left: 0; right: 0;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
}
.text_clicked{
    color: #e4e4e4b3;
}
.logo_clicked{
    opacity: 0;
}
.python {
    background-color:#f5cd60
}

.sql {
    background-color:#316092;
}

.js{
    background-image:linear-gradient(-45deg,#eed94f,#eed94f);
}

.cplus{
    background-color: #5c97d4;
}

.go{
    background-color: #7beaf7;
}

.c{
    background-color: #abb8c8;
}

.html{
    background-color: #d45f39;
}

.swift{
    background-image: linear-gradient(45deg, rgba(255, 140, 9),rgba(214, 125, 41));
}

.react{
    background-color: rgb(124, 214, 247,0.5);
}

.node{
    background-image: linear-gradient(45deg, rgba(61, 110, 47),rgba(173, 248, 135));
}

.ts{
    background-image: linear-gradient(45deg, rgba(31, 173, 192),rgba(21, 103, 150));
}

.django{
    background-image: linear-gradient(45deg, rgba(12, 141, 81),rgba(21, 150, 90));
}

.flask{
    background-image: linear-gradient(45deg, rgba(185, 185, 185),rgba(121, 121, 121));
}

.jquery{
    background-image: linear-gradient(45deg, rgba(7, 135, 255),rgba(32, 32, 32));
}

.aws{
    background-image: linear-gradient(45deg, rgba(187, 113, 2),rgba(255, 198, 77));

}

.azure{
    background-image: linear-gradient(45deg, rgba(0, 71, 81),rgba(12, 41, 83));

}

.graphql{
    background-image: linear-gradient(45deg, rgba(177, 14, 172),rgba(77, 5, 77) );

}

.keras{
    background-image: linear-gradient(45deg, rgba(158, 52, 52),rgba(255, 34, 34) );

}

.docker{
    background-image: linear-gradient(45deg, rgba(231, 231, 231),rgba(34, 178, 255));

}
.aspark, .pyspark{
    background-image: linear-gradient(45deg, rgba(113, 51, 0),rgba(196, 111, 7));
}

.mongo{
    background-image: linear-gradient(-45deg, rgb(116, 211, 76),rgba(121, 85, 9));
}

.mysql{
    background-color: rgba(9, 76, 121);
}

.postgres{
    background-image: linear-gradient(45deg, rgba(8, 8, 8),rgba(8, 131, 189));
}
.redis{
    background-image: linear-gradient(45deg, rgba(240, 88, 88),rgba(250, 53, 53));
}
.firebase{
    background-image: linear-gradient(45deg, rgba(250, 230, 49),rgba(241, 169, 60));
}
.memcached{
    background-image: linear-gradient(45deg, rgba(109, 89, 89),rgba(112, 247, 213));
}
.cassandra{
    background-image: linear-gradient(45deg, rgb(195, 230, 252),rgb(177, 228, 255));
}
.rxjs{
    background-image: linear-gradient(45deg,#512c86, #ec168e);
}
.tf{
    background-image: linear-gradient(45deg, rgb(241, 148, 48,0.7), rgb(241, 148, 48,0.7));
}
.d3{
    background-image: linear-gradient(45deg,#c67155, #eea14f);
}

.git {
    background-image: linear-gradient(45deg,#fca016, #e47a09);
}
.opencv{
    background-image: linear-gradient(45deg,#fc1616,#1efc16, #0d09e4);
}

.tool_filter{
    color: rgba(255, 255, 255, 0.763);
    background-color: rgba(0, 0, 0, 0.700);
    font-size: 80%;
    padding: 1rem;
    text-align: center;
    margin: 0 0.25rem 2rem;
    transition: all 0.25s ease;
    background-color: rgb(187, 187, 187);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: rgb(63, 63, 63);
}
.tool_filter:hover{
    padding: 0.5rem 1rem;
    color: rgba(41, 41, 41, 0.903);
    background-color: rgb(154, 154, 154);
    transform: translateY(-5px);
    cursor: pointer;
}
.selected_filter{
    color: rgba(159, 159, 159, 0.903);
    background-color: rgba(0, 0, 0, 0.749);
    transform: translateY(-5px);
}

#skills {
    padding: 0 0.75rem;
}

@media(max-width:1200px){
    .lang_text{
        width: 70%;
        font-size: 0.8rem;
    }
}