.tech_nugget_container{
    border-radius: 20px;
    padding: 0.15rem;
    display: inline-block;
    margin: 0rem 0.5rem 0rem 0;
}

.tech_nugget_img{
   height: 2rem;
   display: inline-block;
   vertical-align: middle;
}
.close_tech{
    color: rgba(255, 255, 255, 0.641);
    padding: 0.5rem;
    display: inline-block;
    margin: 0.5rem;
    margin-left: 0;
    font-size: 0.95rem;
    opacity: 0.9;
}
.view_tech{
    color: rgb(255, 255, 255,0.7);
    margin-left: 0;
    font-size: 0.9rem;
    cursor: pointer;
    display: inline-block;
    padding: 0.4rem;
    padding-left: 0.7rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.view_tech:hover{
    transform: translateX(10px);
}
@keyframes clicked {
    0%   { opacity: 1}
    50% { opacity: 0.65;}
    100% {opacity: 1}
}

.view_tech:active {
    animation: clicked 0.4s ease;
}
.tech_nuggets{
    opacity: 0.9;
    margin-left: 8rem;
    cursor: pointer;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.363));
    display: inline-block;
}
.tech_nuggets_set{
    display: inline-block;
}
.tech_nuggets_set:hover{
    transform: translateX(-5px);
}

.hide_tech{
    opacity: 0;
    margin-left: 2rem;
    cursor: default;
}

.hide_nuggets {
    opacity: 0;
    margin-left: -2rem;
    cursor: default;
}

.four_nugs{
    cursor: default;
    margin-left: -5rem;
}


.five_nugs{
    cursor: default;
    margin-left: -8rem;
}
.view_tech_exp{
    margin-left: 2rem;
}

@media(max-width: 767px) {
    .view_tech_exp{
        margin-left: 0;
    }
    .view_tech{
        transition: opacity 0.1s ease, width 1s ease, font-size 1s ease;
        transition: all 0 ease;
        margin-left: -2.5rem;
        margin-bottom: 0.8rem;
    }
    .tech_nuggets{
        margin-left: 2rem;
        margin-bottom: 0.8rem;
    }
    .hide_tech{
        transition: opacity 0.1s ease, width 1s ease, font-size 1s ease;
        opacity: 0;
        font-size: 0;
        margin-left: 0;
    }
    .hide_nuggets {
        margin-left: -6rem;
    }
    .four_nugs{
        cursor: default;
        margin-left: -9rem;
    }
    .five_nugs{
        cursor: default;
        margin-left: -12rem;
    }
}