.tech_nugget_container{
    border-radius: 20px;
    padding: 0.15rem;
    display: inline-block;
    margin: 0.5rem 0.5rem 0.5rem 0;
}
.tech_nugget_text{
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.7rem;
    margin-left: 0.3rem;
    display: inline-block;
    vertical-align: middle;
}
.tech_nugget_img{
   height: 2rem;
   display: inline-block;
   vertical-align: middle;
}

.close_tech{
    color: rgba(0, 0, 0, 0.541);
    padding: 0.5rem;
    display: inline-block;
    margin: 0.5rem;
    margin-left: 0;
    font-size: 0.95rem;
    opacity: 0.9;
}
.view_tech{
    color: rgb(41, 41, 41);
    opacity: 0.6;
    position: absolute;
    bottom: -5px;
    left: 8rem;
    font-size: 0.9rem;
    cursor: pointer;
}
.view_tech:hover{
    transform: translateX(5px);

}
.tech_nuggets{
    opacity: 0.9;
    position: absolute;
    bottom: -5px;
    left: 8rem;
    font-size: 0.9rem;
    cursor: pointer;
}
.tech_nuggets_set{
    display: inline-block;
}
.tech_nuggets_set:hover{
    transform: translateX(-5px);
}
.hide_tech{
    opacity: 0;
    left: 25px;
    z-index: -9999;
}
.hide_nuggets {
    opacity: 0;
    left: -25px;
    z-index: -9999;
}
@media (max-width: 992px) {
    .view_tech, .tech_nuggets{
        display: none;
    }
}
@media (max-width: 768px) {
    .view_tech, .tech_nuggets{
        display: block;
    }
    .tech_nuggets{
        left: 20px;
    }
}