.tech_nugget_container{
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.500);
    padding: 0.5rem;
    display: inline-block;
    margin: 0.5rem;
}
.tech_nugget_text{
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.7rem;
    margin-left: 0.3rem;
}

.tech_nugget_img{
   width: 1.25rem;
   height: 1.25rem;
   -webkit-filter: drop-shadow( 0 5px 5px rgba(0, 0, 0, 0.3));
   filter: drop-shadow( 0 5px 5px rgba(0, 0, 0, 0.3));  }

.close_tech{
    color: rgba(255, 255, 255, 0.541);
    padding: 0.5rem;
    display: inline-block;
    margin: 0.5rem;
    font-size: 0.7rem;
}

.view_tech{
    color: white;
    opacity: 0.6;
    position: absolute;
    bottom: 12.5px;
    left: 30px;
    font-size: 0.9rem;
    cursor: pointer;
}
.tech_nuggets{
    opacity: 0.9;
    position: absolute;
    bottom: 12.5px;
    left: 30px;
    font-size: 0.9rem;
    cursor: pointer;
}
.hide_tech{
    opacity: 0;
    left: 100px;
    z-index: -9999;
}
.hide_nuggets {
    opacity: 0;
    left: -50px;
    z-index: -9999;
}