.container {
  width: 100vw;
  height: 100vh;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
}

.break {
  margin: 0 auto;
  width: 40%;
  height: 0.3%;
  background-color: grey;
  margin-top: 2.8rem;
  transition: all 0.5s ease;
  animation: animate_line 2s forwards linear;
}

@keyframes animate_line {
 50% {
    width:0%;
  }
  to {
    width:20%;
  }
}

.container p {
  color: grey;
}


#resume {
  background: -webkit-linear-gradient(#ff777f,#ff0756);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease;
}
#github {
  background: -webkit-linear-gradient(#aaffc2,#00e949);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease;
}
#email {
  background: -webkit-linear-gradient(#7be0ff,#00a5e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease;
}

.container a {
  text-decoration: none;
  margin: 1.5rem;
  transition: all 0.8s ease;
  margin-top: 0;
}

.anchor-div {
  display: inline-block;
  text-align: center;
  transition: all 0.5s ease;
}
.anchor-div:hover{
  transform: translateY(-7px);
}
